.header,
.detail_header,
.donate_header{
    min-height:60vh;
    max-height: 450px;
}

.donate_header .img_cont{
    min-height: 10vh;
}

.header .img_cont,
.detail_header .img_cont{
    height:45vh;
}

p::selection{
  color: white;
  background-color: #02a95c;
}

.btn_deep{

    background:linear-gradient(180deg,#fdb933 35.42%,#f58131 139.58%);
}

.btn_light{

       background:linear-gradient(180deg,#ffde9e 50%,#fcb957);

}

.card {
    width: 45%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.spinner,
.spinner:before,
.spinner:after {  
    border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #02a95c;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #02a95c;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}



@media (min-width: 768px) {
    .card {
        width: 30%;
    }

    .donate_header .img_cont{
        min-height: 4rem;
    }
}

@media (min-width: 1024px) {
    .header{
        height: 95vh;
    }

    .header .img_cont{
        height:100%;
    }

    .detail_header .img_cont{
        height: 75vh;
    }

    .text_comp{
       
        left:5%;
    }

    .card {
        width: 23%;
    }
  }


@media (min-height: 900px){
    .header{
        height: 45vh;
    }

    .detail_header .img_cont{
        height: 55vh;
    }
}