.header,
.detail_header{
    min-height:60vh;

}

.header .img_cont,
.detail_header .img_cont{
    height:45vh;
}

.btn_deep{

    background:linear-gradient(180deg,#fdb933 35.42%,#f58131 139.58%);
}

.btn_light{

       background:linear-gradient(180deg,#ffde9e 50%,#fcb957);

}

.card {
    width: 45%;
}

@media (min-width: 768px) {
    .card {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .header{
        height: 95vh;
    }

    .header .img_cont{
        height:100%;
    }

    .detail_header .img_cont{
        height: 75vh;
    }

    .text_comp{
       
        left:5%;
    }

    .card {
        width: 23%;
    }
  }


@media (min-height: 900px){
    .header{
        height: 45vh;
    }

    .detail_header .img_cont{
        height: 55vh;
    }
}